<!DOCTYPE html>
<html ng-app="module-bank-account">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" type="text/css" href="../resources/css/style.css"/>

<script src="../resources/js/jquery/jquery-2.2.0.min.js"></script>
<script src="../resources/js/jquery/jquery.mask.min.js"></script>
<script src="../resources/js/angular/angular.min.js"></script>
<script src="../resources/js/angular/bankAccount.js"></script>

<title>Bank Account</title>
</head>
<body>
	<form name="frmBankAccount" action="save" method="POST"
		ng-controller="MoneyController as moneyCtrl" novalidate>
		<fieldset>
			<legend>New Bank Account</legend>
			<table>
				<tr>
					<td><label for="bankAccount.description">Description*</label></td>
					<td><input name="bankAccount.description"
						ng-model="bankAccount.description" id="bankAccount.description"
						type="text" required /></td>
				</tr>
				<tr>
					<td><label for="bankAccount.balance">Opening Balance*</label></td>
					<td><input name="bankAccount.balance"
						ng-model="bankAccount.balance" class="money"
						id="bankAccount.balance" type="text" required /></td>
				</tr>
				<tr>
					<td><label for="banks">Bank*</label></td>
					<td><select id="banks" name="bankAccount.bank.id"
						ng-model="bankAccount.bank"
						ng-options="bank as bank.name for bank in moneyCtrl.banks.list track by bank.id"
						required>
							<option value="">select one ..</option>
					</select></td>
				</tr>
				<tr>
					<td>
						<button type="submit" ng-disabled="frmBankAccount.$invalid">save</button>
					</td>
					<td>
						<div ng-hide="frmBankAccount.$valid">
							<font color="red">* required fields</font>
						</div>
					</td>
				</tr>
			</table>

		</fieldset>		
		<fieldset>
			<legend>Existing bank accounts</legend>
			<table id="records_table">
				<tr>
					<td>Description</td>
					<td>Balance</td>
					<td>Bank</td>
				</tr>
				<tr ng-repeat="account in moneyCtrl.accounts.list">
					<td>{{account.description}}</td>
					<td>{{account.balance}}</td>
					<td>{{account.bank.name}}</td>
					<td><input type="button" ng-click="moneyCtrl.remove(account)"
						value="remove"></td>
				</tr>
			</table>
		</fieldset>
		
		<p>&nbsp<a href="../index.html">go to home</a></p>
	</form>

	<script>
		$('.money').mask('000.000.000.000.000,00', {
			reverse : true
		});
	</script>
</body>
</html>