<!DOCTYPE html>
<html ng-app="module-cash-flow">
<head>
<meta charset="ISO-8859-1">
<title>Cash Flow</title>
<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
<script src="../resources/js/functions.js"></script>
<script src="../resources/js/jquery/jquery-2.2.0.min.js"></script>
<script src="../resources/js/jquery/jquery.mask.min.js"></script>
<script src="../resources/js/angular/angular.min.js"></script>
<script src="../resources/js/angular/cashFlow.js"></script>
<script src="../resources/js/angular/customFilters.js"></script>
</head>
<body>
	<form name="frmMovement"
		ng-controller="CashFlowController as cashFlowCtrl" novalidate>
		<fieldset>
			<legend>Movement</legend>
			<label style="float: right;">{{cashFlowCtrl.bankAccount.bank.name}}
				{{cashFlowCtrl.bankAccount.agency}}
				{{cashFlowCtrl.bankAccount.number}}</label>
			<div style="float: left;">
				<table>
					<tr>
						<td><label for="value">Value</label></td>
						<td><input name="movement.value" id="value" type="text"
							class="money" ng-model="cashFlowCtrl.movement.value" required /></td>
					</tr>
					<tr>
						<td><label for="category">Category</label></td>
						<td><select id="category" name="movement.category.id"
							ng-model="cashFlowCtrl.movement.category"
							ng-options="category as category.description for category in cashFlowCtrl.categories track by category.id"
							required>
								<option value="">select one ..</option>
						</select></td>
					</tr>
					<tr>
						<td><label for="value">Operation</label></td>
						<td><select ng-model="cashFlowCtrl.movement.operation">
								<option value="DEBIT">Debit</option>
								<option value="CREDIT">Credit</option>
						</select></td>
					</tr>
					<tr>
						<td><label for="date">Date</label></td>
						<td><input name="movement.date" id="date" class="date"
							ng-model="cashFlowCtrl.movement.date" type="text" required /></td>
					</tr>
					<tr>
						<td><label for="value">Description</label></td>
						<td><input name="movement.description" id="description"
							ng-model="cashFlowCtrl.movement.description" type="text" /></td>
					</tr>
					<tr>
						<td><input type="button" value="add"
							ng-click="cashFlowCtrl.add()" ng-disabled="frmMovement.$invalid" /></td>
						<td>
							<div ng-hide="frmMovement.$valid">
								<font color="red">* required fields</font>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div style="float: left; padding-left: 20px">
				<table>
					<tr>
						<td>Current Balance</td>
						<td>{{cashFlowCtrl.bankAccount.balance | reais}}</td>
					</tr>
					<tr>
						<td>Positive</td>
						<td>{{cashFlowCtrl.values.positive | reais}} </td>
					</tr>
					<tr>
						<td>Negative</td>
						<td>{{cashFlowCtrl.values.negative | reais}}</td>
					</tr>
				</table>
			</div>
		</fieldset>
		<fieldset>
			<legend>Cash Flow</legend>
			<div style="float: left;">
			<table>
				<tr>
					<td>Value</td>
					<td>Date</td>
					<td>Category</td>
				</tr>
				<tr ng-repeat="movement in cashFlowCtrl.movements" ng-init="cashFlowCtrl.consolidate(movement);">					
					<td ng-class="{positive: movement.value > 0	}">{{movement.value | reais}}</td>
					<td ng-class="{positive: movement.value > 0}">{{movement.date | date:'dd/MM/yyyy'}}</td>
					<td ng-class="{positive: movement.value > 0	}">{{movement.category.description}}</td>
				</tr>
			</table>
			</div>
			<div style="float: left; padding-left: 50px">
			<fieldset>
			<legend>By Category</legend>
			<table>
				<tr>					
					<td>Category</td>
					<td>value</td>
				</tr>
				<tr ng-repeat="(key, value) in cashFlowCtrl.map">					
					<td>{{key}}</td>
					<td>{{value}}</td>					
				</tr>
			</table>
			</fieldset>
			</div>
		</fieldset>
		<p>
			&nbsp<a href="../index.html">go to home</a>
		</p>
	</form>

	<script>
		$('.money').mask('000.000.000.000.000,00', {
			reverse : true
		});

		$('.date').mask('00/00/0000');
	</script>
</body>
</html>