<form novalidate ng-init="initCreditCard()" name="frmCreditCard">
    <fieldset>
        <legend>New Credit Card</legend>
        <table>
            <tr>
                <td>
                    <label for="accounts"/>For accout* </label></td>
                <td>
                    <select id="accounts" ng-model="creditCard.bankAccount" required
                            ng-options="account as account.number for account in accounts track by account.id">
                        <option value="">select one ...</option>
                        s
                    </select></td>
            </tr>
            <tr>
                <td><label for="description">Description*</label></td>
                <td><input type="text" id="description" ng-model="creditCard.description" required/></td>
            </tr>
            <tr>
                <td><label for="invoice">Invoice Day*</label></td>
                <td><input type="text" id="invoice" ng-model="creditCard.invoiceDay" class="date" required/></td>
            </tr>
            <tr>
                <td><label for="companies">Company</label></td>
                <td><select id="companies" ng-model="creditCard.company"
                            ng-options="company as company.name for company in companies track by company.id">
                    <option value="">select one ...</option>
                </select></td>
            </tr>
            <tr>
                <td>
                    <input type="button" ng-click="save()" ng-disabled="frmCreditCard.$invalid" value="save"/>
                </td>
                <td>
                    <div ng-hide="frmCreditCard.$valid">
                        <font color="red">* required fields</font>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Existing Credit Cards</legend>
        <table id="records_table">
            <tr>
                <td>Account</td>
                <td>Company</td>
                <td>Description</td>
                <td>Invoice Day</td>
            </tr>
            <tr ng-repeat="creditCard in creditCards">
                <td>{{creditCard.bankAccount.number}}</td>
                <td>{{creditCard.company.name}}</td>
                <td>{{creditCard.description}}</td>
                <td>{{creditCard.invoiceDay}}</td>
                <td><input type="button"
                           ng-click="remove(creditCard)" value="remove"></td>
            </tr>
        </table>
    </fieldset>
    <p>
        &nbsp<a href="#/menu">go to home</a>
    </p>
</form>

<script>
    $('.date').mask('00');
</script>